<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="System.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="System.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <System.Settings1>
            <setting name="ConnectionString" serializeAs="String">
                <value>server=localhost;user id=root; password=root; database=corporativesystem</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>corporativesystem</value>
            </setting>
        </System.Settings1>
    </userSettings>
    <applicationSettings>
        <System.Settings1>
            <setting name="Version" serializeAs="String">
                <value>V0.01</value>
            </setting>
        </System.Settings1>
    </applicationSettings>
</configuration>